<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtil</title>
</head>
<body>
    <h1>Enter Your Text</h1>

    <form action="/analyse/" method="get">
        <textarea placeholder="Enter Your Text" name="text"  style="margin: 0px; width: 1591px; height: 170px;">
        </textarea><br>


        <input type="checkbox" name="removepunc "> Remove Punctuation <br>
        <input type="checkbox" name="newlineremover"> New Line Remover<br>
        <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br>
        <input type="checkbox" name="fullcaps"> fullcaps<br>
        <input type="checkbox" name="totalChar"> fullcaps<br>
        <button type="submit" > Analyse Text</button>
    </form>

</body>
</html>